*{
    box-sizing: border-box;
}

/*color values*/
:root {
    --hover: #64FFDA;
    --primary: #5F85DB;
    --secondary: #90B8F8;
    --bgcolor: #26282B;
    --white: #ffffff;
  }
/*general*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgcolor);
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor);
    color: var(--white);
}

.main-logo{
    font-size: 2.25rem;
    margin: 0.8rem;
    font-style: normal ;
    font-weight: 800;
    color: var(--primary);
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--white);
    padding: 1.8rem;
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.navbar-links li a:hover{
    color: var(--hover);
}

.toggle-button {
    position: absolute;
    top: 1.85rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

/*responsive navbar*/
@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    
    .navbar-links li{
        text-align: center;

    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
    

}

/*landing page*/
 
.landpg {
    background: var(--bgcolor);
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}


#title1{
   transform: scale(55%);
   animation: fill 0.8s ease forwards 5s;
}


/*title animation*/
#title1 path:nth-child(1){
    stroke-dasharray: 256.8px;
    stroke-dashoffset: 256.8px;
    animation: line-anim 1.2s ease forwards;
   
}

#title1 path:nth-child(2){
    stroke-dasharray: 142px;
    stroke-dashoffset: 142px;
    animation: line-anim 1.2s ease forwards 0.2s;
}

#title1 path:nth-child(3){
    stroke-dasharray: 59.7px;
    stroke-dashoffset: 59.7px;
    animation: line-anim 1.2s ease forwards 0.4s;
}

#title1 path:nth-child(4){
    stroke-dasharray: 312.8px;
    stroke-dashoffset: 312.8px;
    animation: line-anim 1.2s ease forwards 0.6s;
}

#title1 path:nth-child(5){
    stroke-dasharray: 212px;
    stroke-dashoffset: 212px;
    animation: line-anim 1.2s ease forwards 0.8s;
}

#title1 path:nth-child(6){
    stroke-dasharray: 205.1px;
    stroke-dashoffset: 205.1px;
    animation: line-anim 1.2s ease forwards 1s;
}

#title1 path:nth-child(7){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 1.2s ease forwards ;
}

#title1 path:nth-child(8){
    stroke-dasharray: 312.8px;
    stroke-dashoffset: 312.8px;
    animation: line-anim 1.2s ease forwards ;
}

#title1 path:nth-child(9){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 1.2s ease forwards 1.6s;
}

#title1 path:nth-child(10){
    stroke-dasharray: 142px;
    stroke-dashoffset: 142px;
    animation: line-anim 1.2s ease forwards 1.8s;
}

#title1 path:nth-child(11){
    stroke-dasharray: 198.6px;
    stroke-dashoffset: 198.6px;
    animation: line-anim 1.2s ease forwards 2s;
}

#title1 path:nth-child(12){
    stroke-dasharray: 273.7px;
    stroke-dashoffset: 273.7px;
    animation: line-anim 1.2s ease forwards 2.2s;
}

#title1 path:nth-child(13){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 1.2s ease forwards 2.4s;
}

#title1 path:nth-child(14){
    stroke-dasharray: 312.8px;
    stroke-dashoffset: 312.8px;
    animation: line-anim 1.2s ease forwards 2.6s;
}

#title1 path:nth-child(15){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 1.2s ease forwards 2.8s;
}

#title1 path:nth-child(16){
    stroke-dasharray: 205.1px;
    stroke-dashoffset: 205.1px;
    animation: line-anim 1.2s ease forwards 3s;

}

#title1 path:nth-child(17){
    stroke-dasharray: 248px;
    stroke-dashoffset: 248px;
    animation: line-anim 1.2s ease forwards 3.2s;

}

#title1 path:nth-child(18){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 1.2s ease forwards 3.4s;

}

#title1 path:nth-child(19){
    stroke-dasharray: 142px;
    stroke-dashoffset: 142px;
    animation: line-anim 1.2s ease forwards 3.6s;

}

#title1 path:nth-child(20){
    stroke-dasharray: 42.8px;
    stroke-dashoffset: 42.8px;
    animation: line-anim 1.2s ease forwards 3.8s;

}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

.title2 {
    color: var(--primary);
    font-size: 2.8vw;
    font-style: bold;
    font-weight: 700;
    margin-top:-10px;
    animation: fadeIn 1s ease-in both;

}

.title2{
    animation-delay: 5.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
      
	}
	to {
		opacity: 1;

	}
}



.button-land{
    padding: 10px;
    display: flex;
}

.btn1{
    border: var(--secondary) solid 1px;
    border-radius: 5px;
    font-size: 2.5vh;
    background-color: transparent;
    color: var(--secondary);
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding:10px;
    margin: 5px;
    display: block;
    width: 14vw;
    height: 8vh;
    margin: 5vh;
    animation: fadeIn 1s ease-in both;
}

.btn1{
    animation-delay: 6.5s;
}




@media (max-width: 600px) {
    .btn1{
        font-size: 0.6rem;
        margin: 10px;
        height: 5vh;
        width: 20vw;
    }

    .landpg {
        height: 65vh;
    }

    #title1{
        transform: scale(70%);
        
     }
     
     .title2 {
        color: var(--primary);
        font-size: 3.5vw;
        font-style: bold;
        font-weight: 700;
        margin-top: 10px;
       
    }
}

/*scroll symbol*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }



/*mouse-scroll*/

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
    animation: fadeIn 1s ease-in both;
}

@media (max-width: 600px) {
    .mouse_scroll {
        margin-top: 40px;
        transform: scale(70%);
    }
}

.mouse_scroll{
    animation-delay: 7s;
}

.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1.5s infinite;
    -moz-animation: mouse-scroll 1.5s infinite;
    animation: mouse-scroll 1.5s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


/*side-stuff*/
.right-stuff{
    width: 50px;
    height: 200px;
    bottom: 0px;
    left: auto;
    right: 10px;
    z-index: 10;
    position: fixed;
}

.left-stuff{
    width: 50px;
    height: 200px;
    bottom: 0px;
    right: auto;
    left: 10px;
    z-index: 10;
    position: fixed;
}

.links-left {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-items a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    padding: 10px;
}



.links-right {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.links-right a{
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 18px;
    color: var(--secondary);
    line-height: 18px;
    letter-spacing: 0.1rem;
    writing-mode: vertical-rl;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.links-right a:hover{
    color: var(--hover);
}

.link-icons {
    transform: scale(130%);
}



@media (max-width: 600px) {
  .link-icons,.links-right a{
    transform: scale(70%);
}
}

.head1 {
    color: var(--white);
    font-size: 3.5vw;
    font-style: bold;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 12%;
    margin-right: auto;
}

.color-head{
    color: var(--primary)
}

.about-section{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 30px;
    width: 80vw;
    height: 40vh;
    font-weight: 700;
    color: var(--white);
    display: flex;
    align-items: center;
    font-size: 1vw;
    justify-content: space-between;
}

.about-text{
    width: 40vw;
    height: 40vh;
   
}

.illus-svg{
    transform: scale(85%);
}

