*{
    box-sizing: border-box;
}

/*color values*/
:root {
    --hover: #64FFDA;
    --primary: #5F85DB;
    --secondary: #90B8F8;
    --bgcolor: #26282B;
    --white: #ffffff;
  }
/*general*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgcolor);
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor);
    color: var(--white);
}

.main-logo{
    font-size: 2.25rem;
    margin: 0.8rem;
    font-style: normal ;
    font-weight: 800;
    color: var(--primary);
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--white);
    padding: 1.8rem;
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.navbar-links li a:hover{
    color: var(--hover);
}

.toggle-button {
    position: absolute;
    top: 1.85rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

/*responsive navbar*/
@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    
    .navbar-links li{
        text-align: center;

    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
    

}

/*landing page*/
 
.landpg {
    background: var(--bgcolor);
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}


#title1{
   transform: scale(55%);
   animation: fill 0.5s ease forwards 5s;
}


/*title animation*/
#title1 path:nth-child(1){
    stroke-dasharray: 256.8px;
    stroke-dashoffset: 256.8px;
    animation: line-anim 2s ease forwards;
   
}

#title1 path:nth-child(2){
    stroke-dasharray: 142px;
    stroke-dashoffset: 142px;
    animation: line-anim 2s ease forwards 0.2s;
}

#title1 path:nth-child(3){
    stroke-dasharray: 59.7px;
    stroke-dashoffset: 59.7px;
    animation: line-anim 2s ease forwards 0.4s;
}

#title1 path:nth-child(4){
    stroke-dasharray: 312.8px;
    stroke-dashoffset: 312.8px;
    animation: line-anim 2s ease forwards 0.6s;
}

#title1 path:nth-child(5){
    stroke-dasharray: 212px;
    stroke-dashoffset: 212px;
    animation: line-anim 2s ease forwards 0.8s;
}

#title1 path:nth-child(6){
    stroke-dasharray: 205.1px;
    stroke-dashoffset: 205.1px;
    animation: line-anim 2s ease forwards 1s;
}

#title1 path:nth-child(7){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 2s ease forwards ;
}

#title1 path:nth-child(8){
    stroke-dasharray: 312.8px;
    stroke-dashoffset: 312.8px;
    animation: line-anim 2s ease forwards ;
}

#title1 path:nth-child(9){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 2s ease forwards 1.6s;
}

#title1 path:nth-child(10){
    stroke-dasharray: 142px;
    stroke-dashoffset: 142px;
    animation: line-anim 2s ease forwards 1.8s;
}

#title1 path:nth-child(11){
    stroke-dasharray: 198.6px;
    stroke-dashoffset: 198.6px;
    animation: line-anim 2s ease forwards 2s;
}

#title1 path:nth-child(12){
    stroke-dasharray: 273.7px;
    stroke-dashoffset: 273.7px;
    animation: line-anim 2s ease forwards 2.2s;
}

#title1 path:nth-child(13){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 2s ease forwards 2.4s;
}

#title1 path:nth-child(14){
    stroke-dasharray: 312.8px;
    stroke-dashoffset: 312.8px;
    animation: line-anim 2s ease forwards 2.6s;
}

#title1 path:nth-child(15){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 2s ease forwards 2.8s;
}

#title1 path:nth-child(16){
    stroke-dasharray: 205.1px;
    stroke-dashoffset: 205.1px;
    animation: line-anim 2s ease forwards 3s;

}

#title1 path:nth-child(17){
    stroke-dasharray: 248px;
    stroke-dashoffset: 248px;
    animation: line-anim 2s ease forwards 3.2s;

}

#title1 path:nth-child(18){
    stroke-dasharray: 214.8px;
    stroke-dashoffset: 214.8px;
    animation: line-anim 2s ease forwards 3.4s;

}

#title1 path:nth-child(19){
    stroke-dasharray: 142px;
    stroke-dashoffset: 142px;
    animation: line-anim 2s ease forwards 3.6s;

}

#title1 path:nth-child(20){
    stroke-dasharray: 42.8px;
    stroke-dashoffset: 42.8px;
    animation: line-anim 2s ease forwards 3.8s;

}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

.title2 {
    color: var(--primary);
    font-size: 2.8vw;
    font-style: bold;
    font-weight: 700;
    margin-top:-10px;


}

.button-land{
    padding: 10px;
    display: flex;
}

.btn1{
    border: var(--secondary) solid 1px;
    border-radius: 5px;
    font-size: 2.5vh;
    background-color: transparent;
    color: var(--secondary);
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding:10px;
    margin: 5px;
    display: block;
    width: 14vw;
    height: 8vh;
    margin: 5vh;
}

@media (max-width: 600px) {
    .btn1{
        font-size: 0.6rem;
        margin: 10px;
        height: 5vh;
        width: 20vw;
    }
}

/*side-stuff*/
.right-stuff{
    width: 50px;
    height: 200px;
    bottom: 0px;
    left: auto;
    right: 10px;
    border: red solid 2px;
    z-index: 10;
    position: fixed;
}

.left-stuff{
    width: 50px;
    height: 200px;
    bottom: 0px;
    right: auto;
    left: 10px;
    border: red solid 2px;
    z-index: 10;
    position: fixed;
}
