*{
    box-sizing: border-box;
}

/*color values*/
:root {
    --hover: #64FFDA;
    --primary: #5F85DB;
    --secondary: #90B8F8;
    --bgcolor: #161616;
    --white: #ffffff;
  }
/*general*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgcolor);
    overflow-x: hidden !important;
}

html{
    scroll-behavior: smooth;

}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none !important;
}

a:active{
    text-decoration: none;
}


/*background hover*/
@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 30vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #515151a0, #96969667);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }